@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'modern';
  src: url('../public/fonts/ElMessiri/Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proza';
  src: url('../public/fonts/Proza/ProzaLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'stylish';
  src: url('../public/fonts/noxderity-font/Noxderity-1jj5g.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'redtrap';
  src: url('../public/fonts/RedTrap/Redtrap-Expanded-PUO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --modern: 'modern';
  --proza: 'proza';
  --stylish : 'stylish';
  --redtrap:'redtrap';
}

body {
  font-family: var(--proza);
}

@layer base {
  .border-test{
    @apply border-[1px] border-red-500;
  }
  .smooth{
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer utilities{
  .blue-gradient{
    background: linear-gradient(90deg, rgba(85,96,182,1) 0%, rgba(11,28,97,1) 100%);
  }
  .orange-gradient{
    background: rgb(228,162,74);
    background: linear-gradient(90deg, rgba(255,181,102,1) 0%, rgba(240,124,0,0.9528186274509804) 100%);
  }
  .teal-gradient{
    background: linear-gradient(90deg, rgba(0,178,178,1) 0%, rgba(34,96,130,1) 100%);
  }
  .bg-multi-gradient{
    background: linear-gradient(
      90deg,
      #fb4a1d 0%,
      #f48164 22%,
      #e7439d 48%,
      #6684ff 69.5%,
      #843bf8 87%,
      #a03cf8 100%
    )
  }
  .text-gradient {
    background: linear-gradient(
      90deg,
      #fb4a1d 0%,
      #f48164 22%,
      #e7439d 48%,
      #6684ff 69.5%,
      #843bf8 87%,
      #a03cf8 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .teal-text{
    background: linear-gradient(
      90deg,
      #00B2B2 0%,
      #163E54 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .img-container {
    overflow: hidden;
  }
  .img-container img{
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
